.code-display {
    background: $white;
    box-shadow: 0px 3px 20px #0000001A;
    transform: translateY(-50%);
    padding: 2rem;

    &__dots {
        display: flex;
        gap: 1.875rem;
        align-items: center;
        justify-content: space-evenly;

        @include md {
            justify-content: flex-start;
        }
    }

    &__timer {
        h2 {
            color: $primary;
            margin-bottom: 0;
            font-weight: 600;
        }
    }
}