.code-guess-list {
    padding: 2rem;
    border-top: 1px solid $grey;

    &__dots {
        display: flex;
        gap: 1.875rem;
        align-items: center;
        justify-content: space-evenly;

        @include md {
            justify-content: flex-start;
        }
    }
}