.code-guess-input {
    padding: 2rem;
    margin-top: -5rem;

    @include md {
        margin-top: -3rem;
    }

    &__dots {
        display: flex;
        gap: 1.875rem;
        align-items: center;
        justify-content: space-evenly;

        @include md {
            justify-content: flex-start;
        }
    }

    button {
        @include button-style($primary);
    }
}