.app-footer {
    background: $dark-grey;
    width: 100%;
    margin-top: 2rem;

    @include md {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    p {
        color: $white;
        padding: 2rem 0;
        margin-bottom: 0;
    }
}