.app-header {
    background: $bg-light;
    padding: 1.875rem 0;
    padding-bottom: 8rem;

    @include md {
        padding-bottom: 5rem;
    }

    &__title {
        h1 {
            color: $dark-grey;
            font-size: 2.75rem;
            line-height: 4rem;
            margin-bottom: 0;
            font-weight: bold;

            @include md {
                font-size: 3.75rem;
                line-height: 5.9375rem;
            }
        }

        button {
            @include button-style($primary);
        }
    }
}