<template>
  <div class="code-dot" :class="'code-dot--' + coloredDot">
    <span class="sr-only">{{ coloredDot }}</span>
  </div>
</template>

<script>
export default {
  name: 'CodeDot',
  props: {
    name: String,
    setup: Boolean,
    coloredDot: String
  }
}
</script>

<!-- Showcase style scoped method - Normally styles added in SCSS folder -->
<style scoped>
  .code-dot {
    background: #7A7A80;
    height: calc(3rem - 8px);
    width: calc(3rem - 8px);
    border-radius: 50%;

    outline: 4px solid #7A7A80;
    outline-offset: 4px;
  }
  .code-dot--green {
    outline-color: #6CCF4A;
    background-color: #6CCF4A;
  }
  .code-dot--yellow {
    outline-color: #E0E334;
    background-color: #E0E334;
  }
  .code-dot--orange {
    outline-color: #CF6936;
    background-color: #CF6936;
  }
  .code-dot--red {
    outline-color: #CF4640;
    background-color: #CF4640;
  }
  .code-dot--blue {
    outline-color: #5F9BCF;
    background-color: #5F9BCF;
  }
  .code-dot--black {
    outline-color: #333333;
    background-color: #333333;
  }
</style>
