<template>
  <div class="code-display">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-12 col-md-8 text-center text-md-start order-2 order-md-1">
        <div class="code-display__dots">
          <template v-for="coloredDot in generatedColors" :key="coloredDot">
            <CodeDot :coloredDot="coloredDot"/>
          </template>
        </div>
      </div>
      <div class="col-12 col-md-4 text-center text-md-end order-1 order-md-2 mb-5 mb-md-0">
         <div class="code-display__timer">
            <h2>{{counter}}</h2>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import CodeDot from './CodeDot.vue'

export default {
  name: 'CodeDisplay',
  components: {
    CodeDot
  },
  props: {
    limit: Number,
    newGameActive: Boolean,
    generatedColors: Object
  },
  data() { 
    return {
      counter: '5:00',
      seconds: 60
    }
  },
  methods: {
    countdown(minutes) {
      this.tick(minutes)
    },
    tick(minutes) {
      let mins = minutes
      let current_minutes = mins - 1
      this.seconds--

      console.log(mins)

      this.counter = current_minutes.toString() + ":" + (this.seconds < 10 ? "0" : "") + String(this.seconds)
      
      if( this.seconds > 0 ) {
          setTimeout(this.tick(), 1000);
      } else {
          if(mins > 1){
            this.countdown(mins-1)
          }
      }
    }
  }
}
</script>
