<template>
  <div class="code-guess-list">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-12 col-md-8 text-center text-md-start mb-5 mb-md-0">
        <div class="code-guess-list__dots">
          <template v-for="dot in dotVariants.slice(0, limit)" :key="dot">
            <CodeDot />
          </template>
        </div>
      </div>

      <div class="col-12 col-md-4 text-center text-md-end">
        <span>Test</span>
      </div>
    </div>
  </div>
</template>

<script>
import CodeDot from './CodeDot.vue'

export default {
  name: 'GuessList',
  components: {
    CodeDot
  },
  props: {
    limit: Number
  },
  data() { 
    return {
      dotVariants: [
        { id: 1, name: 'Green', color: '#6CCF4A', className: '--green' },
        { id: 2, name: 'Red', color: '#CF4640', className: '--red' },
        { id: 3, name: 'Orange', color: '#CF6936', className: '--orange' },
        { id: 4, name: 'Blue', color: '#5F9BCF', className: '--blue' },
        { id: 5, name: 'Yellow', color: '#E0E334', className: '--yellow' },
        { id: 6, name: 'Black', color: '#333333', className: '--black' },
      ],
      colorCache: {},
    }
  },
  methods: {
    randomDot(id) {
      const test = () => Math.floor(Math.random() * this.dotVariants.length);

      return this.colorCache[id] || (this.colorCache[id] = test());
    }
  }
}
</script>
