<template>
  <div class="code-guess-input">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-12 col-md-8 text-center text-md-start order-2 order-md-1">
        <div class="code-guess-input__dots">
          <template v-for="dot in limit" :key="dot">
            <CodeDot />
          </template>
        </div>
      </div>

      <div class="col-12 col-md-4 text-center text-md-end order-1 order-md-2 mb-5 mb-md-0">
        <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#selectColorModal">guess</button>
      </div>
    </div>
  </div>

  <!-- selectColorModal -->
  <div class="modal fade" id="selectColorModal" tabindex="-1" aria-labelledby="selectColorModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="selectColorModalLabel">Guess the code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body m-5">
          <div class="code-guess-input__dots justify-content-between">
            <template v-for="coloredDot in limit" :key="coloredDot">
              <CodeDot :coloredDot="coloredDot" @click="changeColor($event)" />
            </template>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Submit guess</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CodeDot from "./CodeDot.vue";

export default {
  name: "GuessInput",
  components: {
    CodeDot,
  },
  props: {
    limit: Number,
    dotVariants: Array,
  },
  data() { 
    return {
      selectedColors: [],
    }
  },
  methods: {
    changeColor(e) {
      console.log(e)

      let num = Math.floor(Math.random() * this.dotVariants.length)
      this.selectedColors.push(this.dotVariants[num])

      console.log(this.selectedColors)
    }
  }
};
</script>
