@mixin button-style($color) {
    background-color: $color;
    border-color: $color;

    &:focus,
    &:hover {
        background-color: darken($color, 10%);
        border-color: darken($color, 10%);
    }
}

// Small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 
 // Extra extra large devices
 @mixin xxl {
    @media (min-width: #{$screen-xxl-min}) {
        @content;
    }
 }