/* ------------------------------------
 * Colors
 * ------------------------------------ */
$primary: #5E60CE;

$white: #ffffff;
$grey: #7A7A80;
$dark-grey: #333333;
$black: #000000;

$bg-light: #F7F7FC;


/* ------------------------------------
 * Typography
 * ------------------------------------ */
 $font-family-default: "Poppins", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
 
 $font-size-default: 16px;
 $font-size-large: 18px;
 $font-size-small: 14px;


/* ------------------------------------
 * Breakpoints
 * ------------------------------------ */
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;