<template>
  <header class="app-header">
    <div class="app-header__title">
      <div class="container">
        <div class="row d-flex justify-content-between align-items-center">
          <div class="col-12 col-md-8 text-center text-md-start mb-4 mb-md-0">
            <h1>Code d&apos;Or Mastermind</h1>
          </div>
          <div class="col-12 col-md-4 text-center text-md-end">
            <button class="btn btn-primary btn-lg" @click="startNewGame()">
              {{ btnText }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <CodeDisplay
        :limit="limit"
        :newGameActive="newGameActive"
        :generatedColors="generatedColors"
      />
    </div>

    <div class="row">
      <GuessInput :limit="limit" :dotVariants="dotVariants" />
    </div>

    <div class="row">
      <GuessList :limit="limit" />
    </div>
  </div>

  <footer class="app-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>&copy; Code d&apos;Or</p>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import CodeDisplay from "./components/CodeDisplay.vue";
import GuessInput from "./components/GuessInput.vue";
import GuessList from "./components/GuessList.vue";

export default {
  name: "App",
  components: {
    CodeDisplay,
    GuessInput,
    GuessList,
  },
  data() {
    return {
      limit: 4,
      newGameActive: false,
      btnText: "new game",

      dotVariants: [
        'green',
        'yellow', 
        'orange', 
        'red',
        'blue',
        'black',
      ],
      generatedColors: [],
    };
  },
  methods: {
    startNewGame() {
      this.newGameActive = true
      this.generateColors(this.limit)
    },
    generateColors(lengthArr) {
      this.generatedColors = []

      while (this.generatedColors.length !== lengthArr) {
        let num = Math.floor(Math.random() * lengthArr)
        let thisColor = this.dotVariants[num]

        if (!this.generatedColors.includes(thisColor)) { 
          this.generatedColors.push(thisColor)
        }
      }
    }
  },
  created() { 
    this.generateColors(this.limit)
  }
};
</script>
