@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import './abstract/variables';
@import './abstract/mixins';

// import layout styling
@import './layout/header';
@import './layout/footer';

// import components
@import "./components/_code-display.scss";
@import "./components/_code-guess-input.scss";
@import "./components/_code-guess-list.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: light;
}

body {
    font-family: $font-family-default;
    font-size: $font-size-default;
}

a,
.link {
    display: inline-block;
    color: $primary;
    text-decoration: underline;
    cursor: pointer;
}

.sr-only {
    position: absolute;
    width: 0.0625rem;
    height: 0.0625rem;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}